body {
    background: #000;
    margin: 0px;
    padding: 0px;
    font-family: "Varela Round", sans-serif;
}

button {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.prevent__selection {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.nav__links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav__links li {
    float: left;
    display: inline-block;
    padding: 0px 20px;
}

#logo {
    font-family: "Arial Rounded MT Bold", sans-serif;
    color: #ffffff;
    font-size: 50px;
    border: 1px solid red;
    padding: 5px 20px;
}

.material-symbols-rounded:hover {
    cursor: pointer;
}

.timer {
    margin: 3vw;
    padding-top: 4vw;
    padding-bottom: 5px;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 50px;
    background: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    top: 52%;
    transform: translateY(-60%);
}

.timer__part {
    display: inline-block;
    font-size: 27vw;
    font-weight: bold;
    color: #ffffff;
}

.timer__part--colon {
    rotate: 0deg;
}

.timer__button {
    width: 200px;
    height: 60px;
    margin: 25px 15px;
    border-radius: 60px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 200%;
    font-weight: bold;
}

.timer__button--control {
    background: #ffffff;
    border: none;
}

.timer__button--start {
    /* background: #16a928; */
}

.timer__button--stop {
    /* background: #ff4800; */
}

.timer__button--reset {
    background: #11151c;
    color: #ffffff;
    border: solid 3px #ffffff;
}

.highlight {
    background-color: #11151c;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 30px;
    /* display: inline-block; Make the background shape fit the text */
}
